NEXT_PUBLIC_SITE_URL=https://stolarstvo.skrinka.sk

CONTACT_FORM_RECIPIENT=your-contact-email@example.com
SMTP2GO_API_KEY=your-smtp2go-api-key
SMTP2GO_SENDER=STOLÁRSTVO SKRINKA <noreply@stolarstvo.skrinka.sk>
