NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key
TURNSTILE_SECRET_KEY=your_turnstile_secret_key

CONTACT_FORM_RECIPIENT=recipient@example.com
SMTP2GO_API_KEY=your_smtp2go_api_key
SMTP2GO_SENDER=STOLÁRSTVO SKRINKA <noreply@example.com>

# Optional
NEXT_PUBLIC_SITE_URL=https://example.com
